/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/blade.xml
.idea/blade.xml
.idea/workspace.xml
.idea/blade.xml
.idea/blade.xml
.idea/modules.xml
.idea/vcs.xml
.idea/toeasyweb.iml
